$text_primary_color: #212529;
$text_secondary_color: #495057;
$gray_color: #CED4DA;
$gray_600: #6C757D;
$gray_700: #495057;
$gray_800: #343A40;
$gray_900: #212529;
$danger_color: #DC3545;
$success_color: #198754;
$checkbox_border_color:rgba(0, 0, 0, 0.15);